<app-navigation></app-navigation>
<div class="img-container jumbotron text-white jumbotron-image shadow" style="background-image: url('http://www.bhagirathfincare.in/assets/img/about.png');">
<h1 class="advertisement">Advertisement</h1>
</div>
<!--table-->
<section class="adv-table">
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Pages</th>
        <th scope="col">Description</th>
        <th scope="col">Size</th>
        <th scope="col">Cost per Month(in Rs.)</th>
      </tr>
    </thead>
    <!-- Top Banner	468 x 60	5000
Leaderboard (Top)	728 x 90	11000
Leaderboard (Bottom)	728 x 90	3500
Tower - Wide (Right)	160 x 600	5000 -->
    <tbody>
      <tr>
        <th scope="row">home</th>
        <td>Top Banner</td>
        <td>468 x 60</td>
        <td>5000</td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td>Leaderboard (Top)</td>
        <td>728 x 90</td>
        <td>11000</td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td>Leaderboard (Bottom)</td>
        <td>728 x 90</td>
        <td>3500</td>
      </tr>
      <tr>
        <th scope="row">daily</th>
        <td>	Dedicated Ad</td>
        <td></td>
        <td>11000</td>
      </tr>
      <tr>
        <th scope="row">weekly</th>
        <td>	Dedicated Ad</td>
        <td></td>
        <td>7500</td>
      </tr>
      <tr>
        <th scope="row">monthly</th>
        <td>	Dedicated Ad</td>
        <td></td>
        <td>5000</td>
      </tr>
    </tbody>
  </table>
</section>
<!--table-->
<p style="margin: 70px;">Contact us for queries about further customisation.</p>
<app-footer></app-footer>