
<div class="card-group" style="background-color: gray;">
    <div class="card" style="background-color: gray;">
      <img class="card-img-top" src="../assets/image/bhagirath_logo_website.png" alt="Card image cap">
      
      <div class="card-body">
        <!-- <h5 class="card-title">Card title</h5> -->
        <p class="card-text">
          Anyone who involved in the financial market is there for only one reason to build up wealth. That is exactly
          what we help out to our clients accomplish with greater efficiency. We are giving advices on the basis of
          fundamental and technical reasons, so long term as well as momentum moves can earn.
        </p>
        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
      </div>
    </div>
    <div class="card" style="background-color: gray;">
      <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
      <div class="card-body" style="background-color: gray;">
        <h5 class="card-title" style="font-weight: bolder; background-color: grey; ">Quick Links</h5>
        <ul class="main-link"  >
          <li><a routerLink="/home" style="color:black">Home</a></li>
          <li><a routerLink="/about-us" style="color:black" >About Us</a></li>
          <li><a routerLink="/Advertisement" style="color:black" >Advertisement</a></li>
          <li><a routerLink="/finplanning" style="color:black" >Financial Planning</a></li>
          <li><a routerLink="/commision" style="color:black" >Commission</a></li>
          <li><a routerLink="/contact-us" style="color:black" >Contact Us</a></li>
         </ul>
      </div>
    </div>
    <div class="card" style="background-color: gray;">
      <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
      <div class="card-body">
        <h5 class="card-title"><b> Contact Details</b></h5>
        <ul class="contactdeatils" style="font-weight: bolder; ">
          <li><a href="" style="color:black" ><i aria-hidden="true" class="fa fa-envelope"></i>welcome@bhagirathfincare.in</a></li><br>
          <li><a href="" style="color:black" ><i aria-hidden="true" class="fa fa-whatsapp"></i>+91- 63532 59627, +91 - 98985 98129</a></li><br>
          <li><a href="" style="color:black" ><i aria-hidden="true" class="fa fa-globe"></i>www.bhagirathfincare.in</a></li>
        </ul>
      </div>
    </div>
  </div>
