<app-navigation></app-navigation>

<div class="associate_img" >
    <h1 style="margin:100px 0px 0px 220px; color: white; "><b>Associate</b></h1>
  </div>


  <section class="about_us">
    <div  class="container">
      <div class="row">
        <div class="col-sm-4">
          <img class="img-fluid" src="../assets/image/Associate.png">
        </div>
        <div class="col-sm-8">
          <h2 >We advice you to Plan Financially !</h2>
          <ul class="custom-list-style">
            <li >
              Failing to plan is planning to fail. A financial planning is the best way to create prosperity, bringing a disciplined methodology in the whole process of achieving all your future financial needs, cover your securities and giving confidence.
            </li>
            <li >At Bhagirath Fincare we follow the few simple steps to financial planning.</li>
            <li >
              After understanding your current financial position in the desired context, We assume and try to understand your future financial needs.
            </li>
            <li >
              Then, based on our strong research and experience, We prescribe an asset allocation plan and the right instruments that you may use to achieve your various financial goals.
            </li>
            <li >
              We assist you in implementing the same. We also ensure a regular monitoring of your plan to ensure it is on the right track for achieving your financial goals, undertaking asset re-allocation dynamically as and when required.
            </li>
            <li >
              For further details on how we can make you achieve your financial dreams, please Contact Us.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>


<app-footer></app-footer>