<app-navigation></app-navigation>

<div class="about_img" >
    <h1 style="margin:100px 0px 0px 220px; color: white; "><b>Contact us</b></h1>
  </div>


  <section class="Contact_us">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <img src="..\assets\image\contact_logo.png">
          <h3 >The Journey<br>Towards Riches</h3>
          <p>We found Bhagirath Fincare in 2011 after a long journey of ten years in financial markets and wealth creation. We had worked with reputed companies and got huge experience of the wealth creation process, trading technics, technical and fundamental knowledge also found some better ways to serve clients then our journey starts.</p>
        
        </div>
        <div class="col-sm-6">
          <div  class="getintuch">
            <h3 >Get in Touch</h3>
            <form class="ng-untouched ng-pristine ng-invalid" id="frmContact" name="frmContact" novalidate="" role="form">
              <div class="row_from">
                <div class="col-md-12 col-sm-12 col-xs-12 input_width">
                  <div class="form-group">
                    <label  for="Name">Name <font color="#ee6b08">*</font></label>
                    <input class="form-control" id="txtName" maxlength="50" name="txtName" required="" type="text">
                  </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 input_width">
                  <div class="form-group">
                    <label for="email">Email <font  color="#ee6b08">*</font></label>
                    <input class="form-control " id="txtEmail" maxlength="50" name="txtEmail" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$" required="" type="text">
                   
                  </div>
                </div>
                <div  class="clearfix"></div>
              </div>
  
              <div  class="row_from">
                <div  class="col-md-12 col-sm-12 col-xs-12 mobile_birthdate">
                  <div  class="form-group">
                    <label for="mobilenumber">Mobile Number <font  color="#ee6b08">*</font></label>
                    <input  class="form-control" id="txtmobilenumber" maxlength="10" minlength="10" name="txtmobilenumber" onkeypress="return event.charCode >= 48 &amp;&amp; event.charCode <= 57" require="" required="" type="text">
                   
                  </div>
                </div>
                <div  class="col-md-12 col-sm-12 col-xs-12 mobile_birthdate">
                  <div  class="form-group">
                    <label  for="YourMessage">Your Message <font color="#ee6b08">*</font></label>
                    <textarea  class="form-control ng-untouched ng-pristine ng-invalid" id="txtmessage" maxlength="500" name="txtmessage" required=""></textarea>
                    <!---->
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
  
              <div  class="tab_title_footer">
  
                <div  class="pull-right">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
  
              </div>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>


<app-footer></app-footer>