<app-navigation></app-navigation>


<div class="about_img" >
    <h1 style="margin:100px 0px 0px 220px; color: white; "><b>About Us</b></h1>
  </div>
  


<section class="about_us">
    <div class="container">
      <div class="row">
        <div class="col-sm-5">
          <img class="img-fluid" src="..\assets\image\AboutUs\about-side.png">
        </div>
        <div class="col-sm-7">
          <h2>What we think our backstory is<br> what make us evolve</h2>
          <p>We found Bhagirath Fincare in 2011 after a long journey of ten years in financial markets and wealth creation. We had worked with reputed companies and got huge experience of the wealth creation process, trading technics, technical and fundamental knowledge also found some better ways to serve clients then our journey starts</p>
          <p>In the past, we had the good fortune to have relations with very knowledgeable players in the business of investing and trading by the technics of charts, software and fundamental reports. We learned that those technics are difficult to understand for small investors or layman. There is a requirement of easy tool or software and advises those can give right suggestions at the right place and at the right time. Also a very important thing is only one clear intention to create the wealth of our clients.</p>
          <button type="button" class="btn btn-secondary">connect with us</button>
        </div>
      </div>
    </div>
  </section>

<app-footer></app-footer>