<section style="background-color: whitesmoke;">
    <div class="card text-center" style="background-color:whitesmoke;" >
      <div class="card-header">
        what our client says
      </div>
      <div class="card-body">
        <h5 class="card-title">Testimonial</h5>
        <hr style="width:100%;text-align:center;">
        <p class="card-text">Over 400 satisfied clients and making 22,000 accurate market calls which give complete return
          on your investment.</p>
      </div>
    </div>
  </section>
  
  
  <!-- TESTIMONIAL CARD CAROUSEL -->
  <div id="cardExampleIndicators" class="carousel slide  carousel-slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#cardExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#cardExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row d-flex justify-content-left">
          
          <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Love your Product</h5>
                <p class="card-text">I've been getting real good returns doing covered calls. Wouldn't mind seeing some sort of pre-determined scan for them. Love your product and thank you for helping me finally make some money!!!!</p>
                <span>Jay Shah</span>
              </div>
            </div>
          </div>
  
          <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Most reliable trading systems</h5>
                <p class="card-text">My big success with Bhagirath Fincare is understanding the results obtainable using your system. I have been doing a lot of paper trading with excellent results. However, I really have been reluctant</p>
                <span>Samir Dube </span> 
              </div>
            </div>
          </div>
  
          <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Amazing product</h5>
                <p class="card-text">Love your product and thank you for helping me finally make some money!!!!</p>
                <span>Arun Mehta </span>
              </div>
            </div>
          </div>
        
        </div>
      </div>
      
      <div class="carousel-item">
        <div class="row  d-flex justify-content-center">
          <div class="col-sm-4 my-auto">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Love your Product</h5>
                <p class="card-text">I've been getting real good returns doing covered calls. Wouldn't mind seeing some sort of pre-determined scan for them. Love your product and thank you for helping me finally make some money!!!!</p>
                <span>Jay Shah</span>
              </div>
            </div>
          </div>
  
          <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Most reliable trading systems</h5>
                <p class="card-text">My big success with Bhagirath Fincare is understanding the results obtainable using your system. I have been doing a lot of paper trading with excellent results. However, I really have been reluctant</p>
                <span>Samir Dube </span> 
              </div>
            </div>
          </div>
  
          <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Amazing product</h5>
                <p class="card-text">Love your product and thank you for helping me finally make some money!!!!</p>
                <span>Arun Mehta </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
      <!-- CARD CAROUSEL HIDDEN BUTTON -->
      <button class="carousel-control-prev" type="button" data-bs-target="#cardExampleIndicators"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#cardExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
      </button>
  </div>
