<app-navigation></app-navigation>

<div class="about_img" >
    <h1 style="margin:100px 0px 0px 220px; color: white; "><b>Career</b></h1>
  </div>

 <section class="collapse1" >
 <p>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Business Associative </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    Experience <br>2-5 year in broking industries / AMCs / Insurance companies / General Insurance companies <br>
    Profile<br>Product selling and promoting. The desire person should possess sound skills and acquaintance with capital markets, commodity market, currency market, mutual fund, insurance & general insurance
    <br>Qualification <br>Any Graduate with dealing, marketing and selling experience with a proven track record of sells can contact us.
  </div>
</div>

<p>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample">
  Business Development Manager 
  </button>
  </p>
  <div class="collapse" id="collapseExample1">
    <div class="card card-body">
    Experience <br>2-5 year in broking industries / AMCs / Insurance companies / General Insurance companies 
    <br>Profile<br>
    Product selling and promoting. The desire person should possess sound skills and acquaintance with capital markets, commodity market, currency market, mutual fund, insurance & general insurance<br>
    Qualification <br>
    Any Graduate with dealing, marketing and selling experience with a proven track record of sells can contact us.
  </div>
</div>
<p>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
    Relationship Manager
  </button>
  </p>
  <div class="collapse" id="collapseExample2">
    <div class="card card-body">
      Experience <br>2-5 year in broking industries / AMCs / Insurance companies / General Insurance companies <br>
      Profile<br>Product selling and promoting. The desire person should possess sound skills and acquaintance with capital markets, commodity market, currency market, mutual fund, insurance & general insurance
      <br>Qualification <br>
      Any Graduate with dealing, marketing and selling experience with a proven track record of sells can contact us.
    </div>
  </div>
</section>
<hr>

<section class="form">
<form>
  <div class="mb-3">
    <label for="exampleInputFullname" class="form-label">Full name</label>
    <input type="text" class="form-control" id="exampleInputEmail1" >
   </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" >
  </div>
  
  <div class="mb-3">
    <label for="exampleInputQualification" class="form-label">Qualification</label>
    <input type="text" class="form-control" id="exampleInputEmail1" >
  </div>
  <div class="mb-3">
    <label for="exampleInputContact" class="form-label">Contact</label>
    <input type="number" class="form-control" id="exampleInputEmail1" >
  </div>
  <div class="mb-3">
    <label for="exampleInputMessage" class="form-label">Your Message</label>
    <input type="textarea" class="form-control" id="exampleInputEmail1" >
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
 
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</section>


<app-footer></app-footer>