<app-navigation></app-navigation>

<div class="payment_img" >
    <h1 style="margin:100px 0px 0px 220px; color: white; "><b>payment Details</b></h1>
  </div>



  <section class="about_us">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <img class="img-fluid" src="..\assets\image\payment.png">
          <div  class="payment-bx">
            <ul >
              <li ><label >Name :- </label><span>Bhagirath Fincare</span></li>
              <li><label>Account No :- </label><span>085405500119</span></li>
              <li><label>Bank Name :- </label><span>ICICI BANK</span></li>
              <li><label>MICR Code :- </label><span>390229006</span></li>
              <li><label>IFSC Code :- </label><span>ICIC0000854</span></li>
              <li><label>Payment Mode :- </label><span>CHEQUE / DD / NEFT</span></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-8">
          <h2>Make you payment here !</h2>
          <ul class="custom-list-style">
            <li>
              Please make sure that you put the correct name of our company and account number when making a deposit. We won't be able to retrieve funds if they go to suspense account or wrong account.
            </li>
            <li>
              For Cash deposit, please provide us the transaction number, branch, city and date of deposit or scanned copy of deposit slip.
            </li>
            <li>
              Your account will be activated once your payment is credited to our account.
            </li>
            <li>
              Please E-mail us at subscription@bhagirathfincare.in with complete payment details as we do not accept payment details over the phone. make sure that you put the correct name of our company and account number when making a deposit. We won't be able to retrieve funds if they go to suspense account or wrong account.
            </li>
            <li    >
              Please deposit cheque or cash at a branch near to you or do online transaction. Do not mail us cheque/DD.
            </li>
            <li>
              Please do not give any cash or cheque to any associates, we won't be able to retrieve fund if they have not credited to our company account.
            </li>
            <li>
              Once payment had been made, it will not be refundable under any circumstances.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>



<app-footer></app-footer>
