<app-navigation></app-navigation>

<div class="about_img" >
    <h1 style="margin:100px 0px 0px 220px; color: white; "><b>Product</b></h1>
</div>

<div class="main_page about_page payment_page">
    <div  class="container">
      <div class="row">
        <div    class="col-md-12">
          <div    class="payment_info products products-list">
            <h3    class="tab_pgsubtitle">Multigainer</h3>
            <ul    class="custom-list-style">
              <li   >A unique technical tool which is very powerful tool to identify the real call for traders and investors also short term and long term players, minimize risk and maximize profit  for traders.</li>
              <li   > Create traders confident to make multiple trades in financial market and get multiple gain.</li>
              <li   > Guide traders what is the current mood of big market players.</li>
              <li   > Proper stoploss which is difficult to be broken by market players.</li>
              <li   > Risk bar helps to traders and signaling about risk at current market price. </li>
              <li   > Giving maximum target on volatality basis and many more.... </li>
            </ul>
            <h3    class="tab_pgsubtitle">Hotstocks</h3>
            <ul    class="custom-list-style">
              <li   >System itself generates list of stocks which are following existing trend or changed its trend strongly.</li>
              <li   >High volatile stocks list.</li>
              <li   >Fastest way to find final result of hot stock by just one click.</li>
              <li   >Filter list of 100 or 150 stocks from more than 4000 stocks which are tradable.</li>
              <li   >Giving signals up and green Arrow to buy also down and red to sell. </li>
            </ul>
            <h3    class="tab_pgsubtitle">Super Calls</h3>
            <ul    class="custom-list-style">
              <li   >Automatically System generated Recommendations.</li>
              <li   >Clearly mentioned to Buy or Sell particular Stocks or index based on technical parameters.</li>
              <li   >Giving reasonable entry point.</li>
              <li   >Moderate Targets which are achievable.</li>
              <li   >Strong stoploss which helps to restrict losses. </li>
            </ul>
           
            <div    class="clearfix"></div>
  
          </div>
        </div>
      </div>
    </div>
  
  </div>




<app-footer></app-footer>