<app-navigation></app-navigation>
<div>
    <img src="http://www.bhagirathfincare.in/assets/img/slider3_01.png" class="img-fluid" alt="...">
    <!--Content in image -->
    <div class="carousel-caption">
      <!-- Jumbotron -->
      <div class="container py-5">
        <div class="jumbotron text-white jumbotron-image shadow" style="background-image: url(#);">
          <!--IMAGE URL OF JUMBOTRON https://images.unsplash.com/photo-1552152974-19b9caf99137?fit=crop&w=1350&q=80 -->
          <h2 class="mb-4">Grow With<br>Bhagirath Fincare</h2>
          <p class="mb-4">We feel pleased to warm welcome you in knowledge world of BhagirathFincare. The<br>Trend is the
            general direction of a Market or of the price of a Security.</p>
          <a class="btn btn-outline-light btn-lg" href="#!" role="button">connect with us</a>
  
  
          <!-- Facebook -->
          <a style="color: #3b5998;" href="#!" role="button"><i class="fab fa-facebook-f fa-lg"></i></a>
          <!-- Twitter -->
          <a style="color: #55acee;" href="#!" role="button"><i class="fab fa-twitter fa-lg"></i></a>
          <!-- Google -->
          <a style="color: #dd4b39;" href="#!" role="button"><i class="fab fa-google fa-lg"></i></a>
          <!-- Instagram -->
          <a style="color: #ac2bac;" href="#!" role="button"><i class="fab fa-instagram fa-lg"></i></a>
  
        </div>
      </div>
      <!--End of Content in carousel image -->
    </div>
    <!--End of carousel image -->
  
  
  
  
    <div class="card text-center">
      <div class="card-header">
        Thing you need to know
      </div>
      <div class="card-body">
        <h5 class="card-title">About Us</h5>
        <hr style="width:100%;text-align:center;">
        <p class="card-text">We found Bhagirath Fincare in 2011 after a long journey of ten years in financial markets and
          wealth creation. We had worked with reputed companies and got huge experience of the wealth creation process,
          trading technics, technical and fundamental knowledge also found some better ways to serve clients then our
          journey starts.</p>
      </div>
    </div>
  <!--   Partner section   -->
    <section class="partner-about">
      <div class="container">
        <div class="row">
          <div></div>
        </div>
      </div>
      <div class="partner-bg">
        <div class="container">
          <div class="row ">
            <div class="col-md-6">
              <div class="partner">
                <span class="partner-span">We are<br>partner with<br><span class="partner-span">Stuart
                    Finances</span></span>
                <hr style="width:50%;text-align:left;margin-left:0">
                <p class="partner-para">We provide a host of intelligent trading tools across multiple platforms to enrich
                  your equity trading experience.</p>
                <p class="partner-para">we track you to track live markets view charts with technical indicators and place
                  IPO and OFS orders, all with a press of a button. Available for download across app stores.Our in-house
                  team of experts draw on a range of studies and figures to give you access to data and information that
                  can steer the course of you investments. Our accredited research studies include</p>
              </div>
            </div>
            <div class="col-md-6 ">
              <div class="side-img">
                <img src="../assets/image/Mobile.png">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--   END of Partner section   -->
  
  
  
    <!-- MARKET STOCK COMMODITY CURRENCY CARD -->
    <div class="card-group">
      <div class="card">
        <img src="../assets/image/market.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Market</h5>
          <p class="card-text">A market is defined as the sum total of all the buyers and sellers in the area or region
            under consideration. The area may be the earth, or countries, regions, states, or cities. The value, cost and
            price of items trend are as per forces of supply and demand in a market.</p>
        </div>
  
      </div>
      <div class="card">
        <img src="../assets/image/stokes.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Stokes</h5>
          <p class="card-text">A stock is a general term used to describe the ownership certificates of any company. A
            shares, on the other hand, refers to the stock certificate of a particular company. Holding a particular
            company's share makes you a shareholder.</p>
        </div>
  
      </div>
      <div class="card">
        <img src="../assets/image/Commodity.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Commodity</h5>
          <p class="card-text">A commodity is a basic good used in commerce that is interchangeable with other commodities
            of the same type; commodities are most often used as inputs in the production of other goods or services.</p>
        </div>
      </div>
      <div class="card">
        <img src="../assets/image/Curruency.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Curruency</h5>
          <p class="card-text">Investors often Trend currency on the foreign exchange market, which is one of the most
            heavily Trend markets in the world. An exchange rate is the rate at which two currencies can be exchanged
            against each other.</p>
        </div>
      </div>
    </div>
    <!--END MARKET STOCK COMMODITY CURRENCY CARD-->
  
 <!--   CARD -->
 <div class="card card-details text-center text-center-card">
    <div class="card-header">
      Have an Account with us
    </div>
    <div class="card-body">
      <!-- <h5 class="card-title">Special title treatment</h5> -->
      <p class="card-text">We feel pleased to warm welcome you in knowledge world of BhagirathFincare. Registration as a
        client as well as associate are free with seven day demo. We ensure your details will safe with us.</p>
      <button type="button" class="btn btn-outline-primary">connect with us</button>
      <button type="button" class="btn btn-outline-success">63532 59627</button>
    </div>
  </div>
  <!-- End of CARD -->


  <div class="card-group ">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">11 <br>Years of Experience</h5>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">400+ <br> Satisfied Customers</h5>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">400+ <br> Accurate Market Call</h5>
      </div>
    </div>
  </div>

<app-testimonial></app-testimonial>
<app-footer></app-footer>